*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comic Neue', cursive;
    width: 75%;
    margin: auto;
}

header{
    text-align: center;
}

h1{
    margin: 50px 0 75px 0;
    color: rgba(229,49,112,255);
    font-weight: bold;
    font-size: 50px;
}

p{
    margin: 0 0 50px 0;
    font-weight: 400;
    font-size: 18px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.label{
    width: 30%;
    float: left;
    background-color: black;
    box-shadow: 2px 2px 5px black;
    margin: 30px 20px;
}

img{
    float: left;
    width: 30%;
}

.data{
    float: left;
    line-height: 33px;
}

span{
    float: left;
    clear: both;
    padding-left: 20px;
}

.data span:first-child{
    font-weight: 700;
    margin-top: 15px;
}

.data span:last-child{
    font-weight: 700;
    margin-bottom: 15px;
}

.name, .position{
    color: white;
}

.email{
    color: cadetblue;
}