*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comic Neue', cursive;
}

header{
    text-align: center;
}

h1{
    margin: 50px 0 75px 0;
}

p{
    margin: 0 0 50px 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.label{
    width: 33%;
    float: left;
    background-color: black;
    box-shadow: 2px 2px 5px black;
}

img{
    float: left;
}

.data{
    float: right;
}

span{
    color: white;
    display: inline-block;
    float: left;
    clear: both;
}